HowTo.txt
credentials.json
.env
EC2_zetaroid.pem
__pycache__
data/temp/merged_image.png
data/temp/trainerCardNew.png
.idea/
guidePics/
oldCommandTests.txt
pokediscord.env
trainerData.json
downloaded_json/
updateServer.sh
backup.sh
backup.json
downloaded_logs/
pokeDiscord_log.log
data/temp/
rebootServer.sh
applyslyEC2.pem
.DS_Store
backupAWS.sh
rebootServerAWS.sh
updateServerAWS.sh
venv/
**/.DS_Store
gitpull.sh
otherData.json